/* .main {
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    display: flex;
}

.main-item {
    text-align: center;
    width: 25%;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #0000006c;
    border: none;
}

@media screen and (max-width: 768px) {
    .main-item {
        width: 70%;
    }
}

.main-title {
    color: #fff;
    background-color: rgba(26, 53, 253, 0.842);
    text-align: left;
    padding: 15px;
    border-radius: 5px 5px 0 0;
    font-size: 20px;
}

.form {
    background-color: #fff;
    border-radius: 5px;
}

.fa-solid {
    color: rgba(0, 0, 0, 0.69);
}

.form-item-input {
    width: 80%;
    margin: 25px 0 0 0;
    border: none;
    outline: none;
    border-bottom: 1px solid;
}

.form-item-category {
    text-align: right;
    padding: 20px;
}

.form-item-btn {
    font-size: 12px;
    color: #fff;
    padding: 5px 15px;
    background-color: rgba(26, 53, 253, 0.842);
    border-radius: 5px;
    border: none;
}

.form-item-input,
.form-item-btn {
    pointer-events: auto;
    opacity: 1;
}

.certification {
    color: red;
} */